<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>weather place</title>

    <link rel="stylesheet" href="../static/css/animation.css">
  </head>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">
            <img src="../static/image/날씨.png" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'weatherpage' %}">weather</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'outfit' %}">clothes</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'place' %}">place</a>
              </li>
  

            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      <div class="container">
        <div class="row">

          <div class="col-3">
            
            <div id="list-example" class="list-group"  style="padding:25px;">
                <a class="list-group-item list-group-item-action" href="#list-item-1">햇살 좋은날 (야외)</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">우중충한 날 (실내)</a>
              </div>

          </div>

          <div class="col-9">
            
            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0" style = "padding: 10px 10px 10px 10px;">  

                <h4 id="list-item-1"><span style="border-bottom: 12px solid #dcf1fb; padding: 0 0 0 0.2em;"><b>햇살 좋은날</b></span></h4>
                <p>  </p>
            <div class="row"  style = "padding: 10px 10px 10px 10px;">
                <div class="col-8 col-sm-6"  style = "padding: 10px 10px 10px 10px;">
                  
                    <figure>
                        <img src="../static/image/서울숲.jpeg" alt="Portfolio Item">
                        <figcaption>
                            <h3>서울숲</h3>
                            <p>서울 성동구 뚝섬로 273</p>
                        </figcaption>
                    </figure>

                </div>
                <div class="col-4 col-sm-6"  style = "padding: 10px 10px 10px 10px;">
                  
                    <figure>
                        <img src="../static/image/창덕궁.jpeg" alt="Portfolio Item">
                        <figcaption>
                            <h3>창덕궁</h3>
                            <p>서울 종로구 율곡로 99</p>
                        </figcaption>
                    </figure>
                    
                </div>

                <div class="col-4 col-sm-6"  style = "padding: 10px 10px 10px 10px;">

                    <figure>
                        <img src="../static/image/한강공원.jpeg" alt="Portfolio Item">
                        <figcaption>
                            <h3>여의도 한강공원</h3>
                            <p>서울 영등포구 여의동로 330 한강사업본부 여의도안내센터</p>
                        </figcaption>
                    </figure>

                </div>

                <div class="col-4 col-sm-6"  style = "padding: 10px 10px 10px 10px;">
                                  
                    <figure>
                        <img src="../static/image/선유도공원.jpeg" alt="Portfolio Item">
                        <figcaption>
                            <h3>선유도 공원</h3>
                            <p>서울 영등포구 선유로 343</p>
                        </figcaption>
                    </figure>

                </div>

              </div>
            
                <h4 id="list-item-2"><span style="border-bottom: 12px solid #dcf1fb; padding: 0 0 0 0.2em;"><b>우중충한 날</b></span></h4>
               
                <p> </p>
                <div class="row"  style = "padding: 10px 10px 10px 10px;">
                    <div class="col-8 col-sm-6"  style = "padding: 10px 10px 10px 10px;">
                      
                        <figure>
                            <img src="../static/image/롯데월드몰.jpeg" alt="Portfolio Item">
                            <figcaption>
                                <h3>롯데월드몰</h3>
                                <p>서울 송파구 올림픽로 300 롯데월드몰</p>
                            </figcaption>
                        </figure>
                        
                    </div>
                    <div class="col-4 col-sm-6"  style = "padding: 10px 10px 10px 10px;">
                        <figure>
                            <img src="../static/image/락스타클라이밍.jpeg" alt="Portfolio Item">
                            <figcaption>
                                <h3>락스타클라이밍</h3>
                                <p>서울 송파구 백제고분로 435</p>
                            </figcaption>
                        </figure>
      
                    </div>
    
                    <div class="col-4 col-sm-6"  style = "padding: 10px 10px 10px 10px;">
                      
                        <figure>
                            <img src="../static/image/더쥬.jpeg" alt="Portfolio Item">
                            <figcaption>
                                <h3>애니멀 뮤지엄 더쥬</h3>
                                <p>서울 강동구 양재대로 1299</p>
                            </figcaption>
                        </figure>

                    </div>
    
                    <div class="col-4 col-sm-6"  style = "padding: 10px 10px 10px 10px;">
                      
                        <figure>
                            <img src="../static/image/LOVE낚시카페.jpeg" alt="Portfolio Item">
                            <figcaption>
                                <h3>LOVE낚시카페</h3>
                                <p>서울 관악구 봉천로 421</p>
                            </figcaption>
                        </figure>
    
                    </div>
    
                  </div>
                
                  </div>
              </div>

          </div>
        </div>
       
        <footer>
        <p> </p>
        </footer>

  </body>
</html>